<h1>危険な名前ランキング</h1>

  <% Drug.all.order("score DESC NULLS LAST").each do |drug| %>
  <table align=center>
  	<tr align=center>
	  <td width="150"><%= drug.score %>票</td>
      <td width="150"><%= drug.name %></td>
      <td width="150"><%=  button_to "投票", { :action => "vote", :id => drug.id } %></td>
    </tr>
  </table>
  <% end %>
