<div id="welcome">
  <h1>危険な脱法ハーブ</h1>
  <p>
    脱法ハーブは危険な薬物です<br/>
    新しい名前を考えて、みんなに危険だと広めましょう
  </p>

  <div id="form">
    <%= form_for(@drug) do |f| %>
     <%= f.text_field :name, :class => :tb, :placeholder => '新しい名前' %> 
     <%= f.submit '送信', :class => :btn %>
    <% end %>
  </div>
</div>