body {  
  background-image: image-url("food.png");
  margin: 100px;
  color: rgb(85, 85, 85);
  text-rendering: optimizeLegibility;
  font-size: 15px;
  line-height: 1.6;
} 

div#header{  
  color: #666;
  margin: 5px; 
  padding: 5px;
}