body {  
  background-image: image-url("food.png");
  color: rgb(85, 85, 85);
  text-rendering: optimizeLegibility;
  font-size: 15px;
  line-height: 1.6;
} 

div#header{  
  overflow: hidden;
  margin-bottom: 80px;
  padding-top: 10px;
}