// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body    {  
	background-image: image-url("food.png");
	margin: 100px;
	color: rgb(85, 85, 85);
	text-rendering: optimizeLegibility;
	font-size: 15px;
	line-height: 1.6;
}  