// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#welcome{
  margin-left:auto;
  margin-right:auto;
  width:30em;
}

div#form{
  margin-left:auto;
  margin-right:auto;
  width:27em;
}

#notice {
  color: green;
}

.tb {
  border:1px solid #bbb;
  border-radius:10px;
  height: 32px;
  width: 230px;
  font-size: 13px;
  padding-right: 10px;
  padding-left: 10px;
}

.btn {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  border: 1px solid #DDD;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  width: 50px;
  font-size: 13px;
  padding: 5px 0;
}

