<div id="header">
  <%= link_to "ホーム", root_url %>
  <%= link_to "ランキング", drugs_show_path %>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dappoudrug.herokuapp.com/" data-text="脱法ハーブの新名称を募集しています" data-lang="ja">ツイート</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>